{% extends "plantilla.html" %}

{% block title %}Actividades - Priority Pulse{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/NvActividades.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="info">



        </div>
        <div class="crear-actividad">

            <form method="POST" action="{{ url_for('registrarActividad.PostNvActividad') }}">

                <img id="imagen-actividad"
                    src="{{ datos.rutaImagen if datos.rutaImagen else url_for('static', filename='img/imagen1.png') }}"
                    alt="Imagen de actividad" class="imagen-actividad">

                <input type="text" name="nombre" placeholder="Tarea" value="{{ datos.titulo }}"
                    class="actividad-titulo">
                {% if errores.titulo %}
                <p class="error">{{ errores.titulo }}</p>
                {% endif %}

                <div class="color-palette">
                    <div class="color-box pink" onclick="cambiarImagen('imagen1.png')"></div>
                    <div class="color-box orange" onclick="cambiarImagen('imagen3.png')"></div>
                    <div class="color-box green" onclick="cambiarImagen('imagen4.png')"></div>
                    <div class="color-box yellow" onclick="cambiarImagen('imagen5.png')"></div>
                    <div class="color-box blue" onclick="cambiarImagen('imagen2.png')"></div>
                    <div class="color-box purple" onclick="cambiarImagen('imagen6.png')"></div>
                </div>
                {% if errores.rutaImagen %}
                <p class="error">{{ errores.rutaImagen }}</p>
                {% endif %}


                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" name="fecha" value="{{datos.fecha}}">
                {% if errores.fecha %}
                <p class="error">{{ errores.fecha }}</p>
                {% endif %}

                <label for="repetir">Repetir</label>
                <select name="repetir">
                    <option value="diario" {% if datos.repeticion=='diario' %}selected{% endif %}>Diario</option>
                    <option value="semanal" {% if datos.repeticion=='semanal' %}selected{% endif %}>Semanal</option>
                    <option value="mensual" {% if datos.repeticion=='mensual' %}selected{% endif %}>Mensual</option>
                    <option value="unica vez" {% if datos.repeticion=='unica vez' %}selected{% endif %}>Única vez
                    </option>
                </select>
                {% if errores.repeticion %}
                <p class="error">{{ errores.repeticion }}</p>
                {% endif %}

                <label for="hora">Hora</label>
                <input type="time" id="hora" name="hora" value="{{datos.hora}}">
                {% if errores.hora %}
                <p class="error">{{ errores.hora }}</p>
                {% endif %}

                <label for="prioridad">Prioridad</label>
                <select id="prioridad" name="prioridad">
                    <option value="">-- Selecciona una opción --</option>
                    <option value="alta" {% if datos.prioridad=='alta' %}selected{% endif %}>Alta</option>
                    <option value="media" {% if datos.prioridad=='media' %}selected{% endif %}>Media</option>
                    <option value="baja" {% if datos.prioridad=='baja' %}selected{% endif %}>Baja</option>
                </select>

                {% if errores.prioridad %}
                <p class="error">{{ errores.prioridad }}</p>
                {% endif %}


                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" name="descripcion" value="{{datos.descripcion}}"></textarea>
                {% if errores.descripcion %}
                <p class="error">{{ errores.descripcion }}</p>
                {% endif %}


                <input type="hidden" id="rutaImagen" name="rutaImagen" value="static/img/imagen1.png">

                <button type="submit" class="crear-btn">Crear</button>
            </form>
        </div>
    </div>

    <script>
        function cambiarImagen(nombreImagen) {
        const ruta = 'static/img/' + nombreImagen;
        document.getElementById('imagen-actividad').src = `/${ruta}`;
        document.getElementById('rutaImagen').value = ruta;
    }
    </script>
{% endblock %}