<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Rutinas - Priority Pulse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rutinas.css') }}">
</head>
<body>
    <header class="navbar">
   <nav class="navbar">
        <div class="box">
            <button class="open-modal-btn">
                <span id="racha-fuego" class="racha" style="color: {{ color_racha }}">
                    {{ racha }} 🔥
                    <span class="manita">✋</span>
                    <span class="carita">😊</span>
                </span>
            </button>
        </div>
        <a href="rutinas">Rutinas</a>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo-nav">
        <a href="actividades">Actividades</a>
        <a href="{{ url_for('login') }}">Cerrar Sesión</a>
    </nav>
    </header>

    <main class="contenedor">
        <h1>Rutinas</h1>
        <div class="tarjetas">
            {% for i in range(3) %}
            <div class="tarjeta">
                <img src="{{ url_for('static', filename='img/rutina-matutina.png') }}" alt="Productividad Matutina">
                <h2>Productividad Matutina</h2>
                <p><strong>Objetivo:</strong> Comenzar el día con energía y enfoque para aumentar la productividad.</p>
            {% endfor %}
