{% extends "plantilla.html" %}

{% block title %}Actividades - Priority Pulse{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rutinas.css') }}">
{% endblock %}

{% block content %}
  <main class="contenedor">
    <h1>Rutinas</h1>
    <div class="tarjetas">
      {% for rutina in rutinas %}
      <div class="rutina-card">
        <h3>{{ rutina.titulo }}</h3>
        <p>{{ rutina.descripcion }}</p>
        <form method="POST" action="{{ url_for('rutinas.agregar_rutina', id=rutina.id) }}">
          <button type="submit">Añadir a mis actividades</button>
        </form>
      </div>
      {% endfor %}

    </div>
  </main>
{% endblock %}